doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{docTitle}
        link(rel="stylesheet", href="css/main.css")
        link(rel="stylesheet", href="css/product.css")
    body 
        header.main-header 
            nav.main-header__nav
                ul.main-header__item-list 
                    li.main-header-item 
                        a.active(href="/") Shop  
                    li.main-header-item
                        a(href="/admin/add-product") Add Product 
        main
            if prods.length > 0
                .grid
                    each product in prods
                        article.card.product-item
                            header.card__header
                                h1.product__title #{product.title}
                            div.card__image
                                img(src='https://plus.unsplash.com/premium_photo-1661636673328-46ac3447feb3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80', alt='A Book')
                            div.card__content
                                h2.product__price $19.99
                                p.product__description A very interesting book about chess!
                            div.card__actions
                                button.btn Add to Cart
            else    
                h1 No Products ⚠️     
















