
body {
    padding:0;
    margin:0;
    font-family: sans-serif;
}
* {
    box-sizing: border-box;
}

.main{
    padding: 1rem;
}
.main-header {
width: 100%;
padding: 24px;
font-size: 20px;
background-color: rgb(53, 53, 53);
}

.main-header__nav{
    height: 100%;
    display: flex;
    align-items: center;
}

.main-header__item-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.main-header__item{
    margin: 0 1rem;
    padding: 0;
}

.main-header__item a{
    text-decoration: none;
    color: white;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active{
    color: rgb(162, 102, 211)
}

.product-form {
    width: 20rem;
    max-width: 90%;
    margin:auto;
}

.form-control {
    margin: 1rem 0;
}

.form-control label,
.form-control input{
    display: block;
    width: 100%;
}
    
.form-control input{
    border: 1px solid rgb(250, 185, 87);
    font: inherit;
    border-radius: 2px;
}

.btn{
    padding: 8px 16px;
    border: 0;
    border-radius: 4px;
    font: inherit;
    font-weight: bold;
    color:rgb(255, 255, 255);
    background: #0073DA;
    cursor: pointer;
}

.btn:hover,
.btn:active {
    background-color: #0066C1;
    color:white
}


